div{
    margin: 10px;
    background-color: black;
    color: antiquewhite;
    border: 5px solid greenyellow;
    border-radius: 25px;
    box-shadow: 10px 10px 10px black;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    width: 800px;
    height:1000px;
}

h3{
    border: 5px solid green;
    border-radius: 25px;
    box-shadow: 10px 10px 10px wheat;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    color: black;
    background-color: yellow;
}
.ali{
    background-color: aquamarine ;
    color: rgb(41, 19, 231);
    border: 4px;
    box-shadow: 10px 10px 10px;
    /* width: 50%; */
    text-align: center;
}